*{
    margin: 0px;
    padding: 0px; 
}
/* nav styles  */
.menu{
    background-color: lightgray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.menu a{
    text-decoration: none;
}
.menu li{
    list-style-type: none;
}
.agency-menu{
    margin-right: 200px;
}
.menu-items{
    display: flex;
    gap: 20px;
    /* gap: 10px;  */
}
.list-item{
    /* padding-right: 20px; */
    /* margin-right: 70px; */
    color: black;
    font-weight: bold;
}
.logo{
    margin-left: 200px;

}

/* header styles  */
.header-banner{
    width: 100%;
    height: 100vh;
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-blend-mode: overlay;
    background-position: center;
    text-align: center;
    background-size: cover;
}
.banner-title{
    /* position: absolute; */
    text-align: center;
    padding-top: 150px;
}
.header-banner-title{
    font-size:86px;
    font-weight:900;
    color: white;
    padding-left: 250px;
    padding-right: 250px;
}
.red-part{
    color: red;
}
.banner-text{
    font-size: 20px;
    color: white;
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 10px;
}
.btn-primary{
    background-color: red;
    color: white;
    padding: 20px;
    border: none;
    margin-right: 10px;
}
.btn-second{
    background-color: gainsboro;
    padding: 20px;
    border: none;
}

/* service section  */
.service{
    width: 100%;
    height: 100vh;
    background-image: url('../asset/image/footer-bg.png'), linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
}
.service-column-1-title{
    margin-bottom: 5px;
}
.service-column-1{
    color: white;

}
.btn-third{
    background-color: white;
    color: black;
    padding: 20px;
    border: none;
    border-radius: 50px;
    margin-bottom: 10px;
}
.red-part-2{
    color: red;
}
.service-column-1-desc{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.service-column-1-list{
    margin-bottom: 10px;
}
.author-desc{
    display: flex;
    gap: 50px;
    align-items: center;
    
}
.identity{
    display: flex;
    gap: 20px;
    align-items: center;
    border-right: 1px solid red;
    padding-right: 20px;
}
.identity-person{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.btn-fourth{
    background-color: white;
    color: red;
    padding: 20px;
    border: none;
    border-radius: 50px;
    margin-bottom: 10px;
}
.box{
    width: 200px;
    height: 200px;
    background-color: white;
    color: black;
    text-align: center;
}
.service-box-img{
    width: 100px;
    height: 100px;
    padding: 20px;
}
.first-two-box{
    display: flex;
    gap: 10px;
}
.Last-two-box{
    display: flex;
    gap: 10px;
}
.service-column{
    display: flex;
    padding: 50px;
    align-items: center;
}

/* appointment styles  */
.appointment{
    background-color: red;
    display: flex;
    width: 75%;
    height: 30vh;
    border: none;
    border-radius: 10px;
    align-items: center;
    gap: 200px;
    margin-left: 120px;
    margin-top: -70px;
    padding: 30px;
}
.phone-call-img{
    width: 70px;
    height: 70px;
    padding-left: 20px;
    padding-top: 20px;
}
.phone-number{
    color: white;
    margin-right: 20px;
}
.phone{
    display: flex;
    align-items: center;
    gap: 20px;
    border-right: 1px solid white;
}
.appointment-instruction{
    color: white;
}
.appointment-text{
    width: 50%;
}
.btn-fifth{
    background-color: lightgoldenrodyellow;
    color: black;
    padding: 20px;
    border: none;
    border-radius: 50px;
}
.appointment-details{
    display: flex;
}